---
layout: archive
permalink: /year-archive/
title: "Blog posts"
author_profile: true
redirect_from:
  - /wordpress/blog-posts/
---

<style>
  /* Style for year headings */
  .year-heading {
    font-size: 2.5em;
    color: #333;
    margin-top: 2em;
    margin-bottom: 0.8em;
    font-weight: 600;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 8px;
    width: 100%;
  }
</style>

{% include base_path %}

{% assign grouped_posts = site.posts | group_by_exp: "post", "post.date | date: '%Y'" | sort: "name" | reverse %}

{% for year in grouped_posts %}
  <h2 id="{{ year.name | slugify }}" class="year-heading">{{ year.name }}</h2>
  <div class="posts-year" data-year="{{ year.name }}">
    {% for post in year.items %}
      {% include archive-single.html %}
    {% endfor %}
  </div>
{% endfor %}